# Virtual environments
.venv/

# Byte-compiled Python files
__pycache__/
*.pyc

# Local database file for Django
db.sqlite3

# Sensitive environment variables file
.env

# PyCharm-specific files
.idea/

# Collected static files and media uploads
media/
staticfiles/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
